.filter-bar-wrapper{
		@include grid-column(4);
	}
	.filter-bar{
		padding: 30px 42px 35px 0px;
		background: $mirror;
		border-radius: 15px;
		max-width: 340px;
		h3{
			text-shadow: 1px 1px 1px $black;
			display: inline-block;
			font-size: rem-calc(18);
			margin-left: 42px;
			font-weight: bold;
			letter-spacing: 0;
			margin-bottom: 0;
		}
		.rdb-reset{
			float: right;
			color: $rdb-gray;

			&:hover{
				color: $white;
			}
		}
		ul{
			list-style: none;
			margin-bottom: 0;
			margin-left: 15px;
		}
		.filter-link{
			margin-left: 27px;
			font-size: rem-calc(16);
			line-height: rem-calc(28);
			color: $rdb-gray;

			&:hover{
				color: $white;
			}
		}
		.sidebar-filter-active{
			margin-left: 0;
			color: $white;
			font-weight: bold;

			&:before{
				background: url(../images/check.png) no-repeat center center;
				content: "";
				background-size: cover;
				height: 14px;
				width: 17px;
				display: inline-block;
				margin-right: 5px;
			}
		}
	}